/*
  Editor
 */
img.mce-wp-steady-paywall {
  width: 96%;
  height: 16px;
  display: block;
  margin: 15px auto 0;
  outline: 0;
  cursor: default;
  background: rgba(0, 0, 0, 0) url('../img/paywall-tag.png') repeat-y scroll center center;
}
